@import '@/styles/variables';
@import '@/styles/grid';

.section {
  color: $color--gray-090;
}

.section__tile {
  position: relative;
  padding: 2rem 2.5rem;
  min-height: 300px;
  text-decoration: none;
  color: $color--gray-090;
}

.section__tile__first {
  @media (max-width: 768px) {
    min-height: auto;
  }

  padding: $padding--lr;
}

.section__tile__other {
  background-color: $color--white--opacity--80;
  transition: background-color 0.5s, display 1s;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    color: $color--white;
    background-color: $color--dark--blue--opacity--80;
    align-items: flex-start;

    .section__tile__other__heading {
      color: $color--white;
    }

    .section__tile__other__link {
      color: $color--white;
    }

    .section__tile__other__copy {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.section__tile__other__heading {
  font-weight: $font--heading--semibold;
  font-size: 1.375em;
  line-height: 1.25em;
  margin-bottom: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__tile__other__copy {
  line-height: 1.3em;
  display: none;
}

.section__tile__other__link {
  margin-bottom: $margin--tb-mobile;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
}

.section__tile__other__link__text {
  padding-right: $padding--lr;
  line-height: 1.3em;
}

.section__tile__other__link__icon {
  background-color: $color--aqua-080;
  text-align: center;
  width: 17px;
  display: inline-block;
  border-radius: 15px;
  padding: 1px 0 0 1px;

  svg {
    transform: scale(0.8);
    vertical-align: baseline;
  }
}

.section__tile__heading {
  font-weight: $font--heading--semibold;
  font-size: 1.375em;
  line-height: 1.25em;
  margin-bottom: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__tile__other__bgimage {
  @include background-image;

  z-index: -1;
}

.section__cta {
  text-align: center;
  margin-top: $margin--tb-mobile--child;
}

.section__cta__btn {
  color: $color--white;

  @media (max-width: 768px) {
    width: 100%;
  }
}
