@import '@/styles/variables';
@import '@/styles/grid';

.note {
  font-weight: $font--heading--semibold;
  color: $color--gray-070;
}

.header {
  font-weight: $font--heading--semibold;
  color: $color--gray-070;
}

.table {
  border: 1px solid $color--gray-020;
  border-collapse: collapse;
  width: -webkit-fill-available;
}

.table td {
  padding: $padding--tb $padding--tb $padding--tb $padding--tb;
  border-right: 1px solid $color--gray-020 !important;
  border-bottom: 1px solid $color--gray-020 !important;
  font-weight: $font--heading--semibold;
  color: $color--gray-070 !important;
}

.table td:not(:first-child) {
  width: 0;
}

.table th:not(:first-child) {
  width: 0;
}

.table th {
  padding: $padding--tb 5rem $padding--tb $padding--tb;
  border-left-style: hidden;
  text-align: inherit;
}

.table__header {
  padding: $padding--tb;
  background: $color--brand-blue;
  font-size: $font--size--heading;
  font-weight: $font--heading--semibold;
  color: $color--white;
  border: none;
}

.container__btn--white {
  color: $color--white !important;
  width: 12rem;
  height: 2.5rem;
  margin-top: $padding--tb;
  margin-bottom: $margin--lr-desktop;
}

.container {
  min-width: 5rem;
  border: 1px solid $color--navy-blue-010;
  margin: $padding--lr-mobile;
  margin-top: $padding--tb;
}

.container__header {
  padding: $padding--tb;
  background: $color--navy-blue-010;
  font-size: $font--size--heading;
  font-weight: $font--body--bold;
  color: $color--brand-blue-090;
  padding-left: $margin--lr-desktop;
}

.container__copy {
  padding: $margin--lr-desktop;
}

.container__copy div {
  padding-bottom: $padding--lr-mobile;
  font-weight: $font--heading--semibold;
  color: $color--gray-070;
}

@media (max-width: $media--tablet) {
  .container {
    margin: unset;
    margin-top: unset;
  }

  .container__btn {
    text-align: center;
  }

  .container__btn--white {
    width: 95%;
  }
}
