@import '@/styles/variables';

.container {
  max-width: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color--white;
  align-items: center;
  background-image: url('./hero-support.jpg');
  background-size: cover;
}

.container__heading {
  font-size: 3rem;
  line-height: 2rem;
}

.container__subheading {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
