@import './variables';

.checkbox {
  margin-bottom: 60px;
}

.checkbox input {
  margin-right: 12px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.continueBtn {
  width: 179px;
  padding: 15px 0;
  border-radius: $border-radius--high;
  background-color: $color--gray-030;
  color: $color--white;
  margin-top: -40px;
  margin-bottom: 32px;
  border: 1px solid $color--gray-030;
}

.continueBtn:focus {
  border: 1px solid $color--gray-030;
}

.container section {
  width: 100%;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  div {
    margin-bottom: 2.5rem;
  }

  button {
    width: 179px;
    padding: 15px 0;
    border-radius: $border-radius--high;
    background-color: $color--white;
    margin-top: -40px;
    border: 1px solid $color--gray-080;
    color: $color--gray-080;
    margin-bottom: 32px;
  }

  button:focus {
    border: 1px solid $color--gray-050;
  }

  .emailSubtext {
    font-size: 13px;
    margin-top: -40px;
  }

  .label {
    // display: none;
    font-size: $font--size--label;
    position: absolute;
    top: -8px;
    left: 5px;
    background: #fff;
    padding-right: 8px;
    padding-left: 4px;
    color: $color--gray-080;
  }

  .passwordConditions {
    font-size: 13px;
    margin-top: -40px;

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      margin-top: 0;
      width: 75%;
    }

    .row div {
      margin-bottom: 8px;
    }
  }

  select {
    padding: 10px;
    margin-bottom: 32px;
    width: 100%;
  }
}

.signInCta {
  margin-bottom: 72px;
}

.link {
  color: $color--gray-050;
}

.forgotPassword {
  margin-bottom: 24px;
}

.stepLabel {
  margin-bottom: 48px;
}

.stepLabel:last-of-type {
  margin-top: 48px;
}

@media (max-width: $media--tablet) {
  .container {
    flex-direction: column;
  }

  .signInCta {
    margin-bottom: 40px;
    margin-top: 24px;
  }

  .passwordConditions {
    .row {
      width: 100%;
    }
  }
}
